h2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-top: 200px;
}

h3 {
  font-size: 24px;
}

.baked-cake,
.fresh-cake {
  text-align: center;
}

.h3-p {
  text-align: left;
  margin-top: 50px;
  padding-left: 7%;
}

.para-space {
  margin-left: 7%;
}

.cakes {
  margin: 0 auto;
  width: 90%;

  /* border: 2px solid blue; */
}

.cha-img {
  display: inline-block;
  margin: 8px;
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  border: 8px solid #93c1e6;
}

.pro-image img {
  height: 320px;
  width: 100%;
  margin-bottom: 10px;
}

.cha-img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.fresh-cake {
  margin-top: 50px;
}
